include mixins

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='syylesheet', href='/stylesheet/boostrap.min.css')
    script(src='/javascripts/dropzone.js')    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='/javascripts/script.js')
    // https://bootswatch.com/3/readable/#forms 
    //+bootswatch("Readable")
  body
    block content
 
  <footer>
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li class="pull-right"><a href="#top">Back to top</a></li>
          <li><a href="about_osteoporosis.html">What is Osteoporosis?</a></li>
          <li><a href="about_us.html">About MedTatva</a></li>
          <li><a href="contacts_us.html">Need Help?</a></li>
        </ul>
        <p>Copyright © 2019 medtatva. All rights reserved.</p>

      </div>
    </div>

  </footer>